<a href="https://colab.research.google.com/github/ConfoundingVariables/Semester_4_Archive/blob/main/Python/practical6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
empty=()
it=(1,2,3,4,5,6,7,8,9,0)
mdt=(1,2,3,4,"bale","bale bale",True,False)
nt=((1,2,3),(1,2,3),(1,2,3))

In [6]:
a=mdt.__len__()
hindex=a//2
while True:
  print(mdt[hindex])
  break

bale

In [10]:
jt=it+mdt
print(jt)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 'bale', 'bale bale', True, False)

In [12]:
print("first element: "+str(jt[0]))
print("last element: "+str(jt[-1]))

first element: 1
last element: False

In [13]:
print(jt[1:-1])

(2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 'bale', 'bale bale', True)

In [20]:
rizzionary = {'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4, 'key5': 5}
print("Printing all keys: ")
for i in rizzionary.keys():
  print(i)
print("Printing all values: ")
for i in rizzionary.values():
  print(i)

Printing all keys:
key1
key2
key3
key4
key5
Printing all values:
1
2
3
4
5

In [35]:
from random import randint
from collections import defaultdict
dict = {}
for n in range(4):
  dict["dict"+str(n)]=[randint(0,10) for s in range(10)]
print(dict)

{'dict0': [4, 3, 10, 9, 4, 8, 8, 0, 3, 6], 'dict1': [5, 6, 10, 10, 0, 6, 7, 9, 6, 8], 'dict2': [8, 6, 9, 10, 0, 10, 7, 0, 0, 6], 'dict3': [1, 0, 8, 2, 0, 5, 2, 4, 4, 5]}

In [37]:
dict.popitem()

('dict3', [1, 0, 8, 2, 0, 5, 2, 4, 4, 5])

In [39]:
dict

{'dict0': [4, 3, 10, 9, 4, 8, 8, 0, 3, 6],
 'dict1': [5, 6, 10, 10, 0, 6, 7, 9, 6, 8],
 'dict2': [8, 6, 9, 10, 0, 10, 7, 0, 0, 6]}

In [41]:
ditto=dict.copy()

In [42]:
ditto

{'dict0': [4, 3, 10, 9, 4, 8, 8, 0, 3, 6],
 'dict1': [5, 6, 10, 10, 0, 6, 7, 9, 6, 8],
 'dict2': [8, 6, 9, 10, 0, 10, 7, 0, 0, 6]}

In [57]:
Batch={}
for n in range(5):
  Batch["student"+str(n)]=randint(0,6)

print(Batch)

default=[stu for stu in Batch if Batch[stu]>3]

default

{'student0': 0, 'student1': 1, 'student2': 4, 'student3': 6, 'student4': 3}

['student2', 'student3']